body {
  background-color: #d8e3df;
  height: auto;
}
.mono {
  font-family: 'Major Mono Display', monospace;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.sacramento {
  font-family: 'Sacramento', cursive;
}

.black {
  color: black;
}

.lgray {
  color: #b3b3b2;
}

.gray, .gray:hover {
  color: #262626;
}

.yellow {
  color: #faf5b0;
}

.blue {
  color: #61a0ec;
}

.purple {
  color: #ac89ff;
}

.white {
  color: white;
}

.rasa {
  font-family: 'Rasa', serif;
}

.rmono {
  font-family: 'Roboto Mono', monospace;
}

.oswaldl {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

.oswaldb {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}

.robotoc {
  font-family: 'Roboto Condensed', sans-serif;
}

.bmint {
  background-color: #d8e3df;
}

.bwhite {
  background-color: #ecede8;
}

.bgreyblue {
  background-color: #6b7f8a;
}

.bgrey {
  background-color: #393e41;
}

.bpink {
  background-color: #f2b79f;
}

/* #pinContainer {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#pinContainer .panel {
  height: 100%;
  width: 100vw;
  position: absolute;
  text-align: center;
}

.panel span {
  position: relative;
  display: block;
  top: 50%;
  font-size: 50px;
} */

#frontBox {
  width: 300px;
  height: 500px;
  margin-left: 20%;
}

.intro {
  left: 60%;
  top: 20px;
  width: 30%;
  position: absolute;
}

#line {
  width: 100%;
  display: block;
  height: 4px;
  background: #262626;
}

#me {
  position: absolute;
  width: 25%;
  z-index: 1;
  left: 30%;
  top: 100px;
}

#skills {
  margin-top: 100px;
  padding: 20px;
}

#philly {
  width: 35%;
  position: absolute;
  opacity: 0.9;
  left: 8%;
  top: 150px;
}

#skills {
  color: #393e41;
  font-size: 50px;
}

#skillsLine {
  margin-top: 200px;
  background-color: #ecede8;
  height: 50px;
  float: left;
  width: 130px;
}

.skills {
  background-color: #393e41;
  text-align: center;
  border:none;
}

.skills h3 {
  color: #ecede8;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

.skills p {
  color: #d8e3df;
  font-family: 'Rasa', serif;
}

.skills hr {
  background-color: #ecede8;
  width: 50%;
}

#projects {
  margin-top: 200px;
  float: center;
  padding: 20px;
}

.fa-long-arrow-alt-right {
  float: right;
  color: #262626;
}

#about {
  margin-top: 50px;
  text-align: right;
  padding: 20px;
  margin-bottom: 200px;
}

.fa-long-arrow-alt-left {
  float: left;
  color: #262626;
}

.footer {
  height: 100px;
  padding: 40px;
  margin: 0;

}
@media (min-width: 900px) {
  .nav-link {

  }
}

