body {
    background-color: #f8f8f8;
    height: auto;
    position: relative;
    font-family: TheLightFont;
}

#container {
    display: block;
    margin: auto;
}

#blogTitle {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

#projects {
    padding: 30px;
}

.cards {
    padding: 20px;
}

.card {
    margin: 20px;
    margin: auto;
}

.card-img-top {
    width: 286px;
    height: 100px;
}

.btn {
    display: block;
    margin: auto;
    border: none;
    width: auto;
}

#profilePic {
    width: 30%;
    float: left;
    margin: 10px;
    margin-left: 0;
    margin-top: 0;
}

@font-face { 
    font-family: SweetPea; 
    src: url(../fonts/SweetPea.ttf);
}

@font-face {
    font-family: TheLightFont;
    src: url(../fonts/TheLightFont.ttf);
}

.nav, .nav-link {
    font-family: TheLightFont;
    background: none;
    color: #262626;
    padding: 10px;
}

a:hover {
    background-color: none;
    color: #324470;
}

#carousel {
    width: 100%;
    display: block;
    margin: auto;
}

.bio, .card-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.info {
    font-size: 20px;
}

a:hover {
    color: black;
}

a {
    color: grey;
}