
.bmint {
    background-color: #d8e3df;
}

.bwhite {
    background-color: #ecede8;
}

.bgreyblue {
    background-color: #6b7f8a;
}

.bgrey {
    background-color: #393e41;
}

.bpink {
    background-color: #f2b79f;
}
